{% extends 'layouts/app.twig' %}

{% block title %}login{% endblock %}

{% block content %}
			<div class = "row">
    			<div class = "col-md-10 offset-1">
    				<h2>Login</h2>
    				<form action="{{ path_for('loggedUser') }}" method="POST">
    					<div class="form-group">
    						<label for="usernameID">Username:</label>
    						<input type="text" name="username" class="form-control" id="usernameID" maxlength="255" required>
  						</div>
  						<div class="form-group">
    						<label for="passwordID">Password:</label>
    						<input type="password" name="password" class="form-control" id="passwordID" minlength="8" maxlength="12" required>
  						</div>
  						<button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
					</form>
    			</div>
    		</div>
{% endblock %}	