{% extends 'layouts/app.twig' %}

{% block title %}One post{% endblock %}

{% block content %}
		{% if viewPost %}
			<div class = "row">
    			<div class = "col-md-10 offset-1">
    				<h2>{{ viewPost.title }}</h2>
    				<p>{{ viewPost.content }}</p>
    				<a href = "#" class = "btn btn-primary">Edit</a>
    				<a href = "#" class = "btn btn-danger">Delete</a>
    			</div>
    		</div>
    	{% else %}
			<p>No post to show.</p>
		{% endif %}
{% endblock %}	