{% extends 'layouts/app.twig' %}

{% block title %}One post{% endblock %}

{% block content %}
		{% if viewPost %}
			<div class = "row">
    			<div class = "col-md-10 offset-1">
    				<h2>{{ viewPost.title }}</h2>
    				<p>{{ viewPost.content }}</p>
    				{% if auth.checkUserLoggedIn.role_id == 2 %}
        				<a href = "{{ path_for('post.edit', { 'ID': viewPost.ID}) }}" class = "btn btn-primary">Edit</a>
    					<a href = "{{ path_for('post.delete', { 'ID': viewPost.ID}) }}" class = "btn btn-danger">Delete</a>
        			{% endif %}	
    			</div>
    		</div>
    	{% else %}
			<p>No post to show.</p>
		{% endif %}
{% endblock %}	